header {
    background-color: #4abff4;
    height: 5rem;
}
header .top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-right: 3.125rem;
    /* padding: 1.25rem 5rem; */
}
header .top a {    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.875rem 1.875rem;
    font-size: 1.25rem;
    /* background-color:#f5f5dc; */
    /* border: 5rem solid #f5f5dc; */
    /* border-radius: 10px; */
}
header .top a img {
    width: 3.125rem;
}
header .top a span {}
main {
    text-align: center;
    padding: 1.25rem;
    padding-top: 5rem;
    background-image: url(../images/stardew.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center bottom;
}
main h1 {
    font-size: 1.875rem;
    padding-bottom: 20px;

}
main h1 .photo {}
/* main h1 .photo img {} */
main h1 .contents {}
footer {
    padding: 1.875rem 1.875rem;
    text-align: center;
    background-color: #775228;
    color: #fff;
}