/* index.html main전용 */
body main p {}
body main p img {
    margin-top: 5rem;
}
body main h1 {
    font-size: 1.875rem;
    padding-bottom: 20px;
    color: white;
}
body main .contents {
    color: white;
}